body {
    background-color: rgb(30, 26, 44);
    color: white;
    padding: 0px;
    margin: 0px;
    font-family: 'Helvetica', sans-serif;
    font-size: calc(5px + 2vmin);
}

h1 {
    color: rgb(230, 230, 230);
    font-size: 4rem;
    font-family: 'Trebuchet MS', sans-serif;
}

h1 a{
    text-decoration: none;
    color:white;
}

h2 {
    color: rgb(230, 230, 230);
    font-size: 2.0rem;
    text-align: left;
    font-family: 'Trebuchet MS', sans-serif;
}

tr, th, td {
    border: 1px solid rgb(138, 138, 138);
    color: white;
}

table {
    width: 100%;
    min-width: auto;
    border-collapse: collapse;
}

caption {
    font-size: .8rem;
    font-weight: bold;
    caption-side: top;
    text-transform: uppercase;
    text-align: center;
    color: white;
    border: 0px;
}

th {
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(230, 230, 230);
    text-transform: uppercase;
    font-family: Arial;
}

thead {
    background-color: rgb(66, 60, 90);
}



form, fieldset, legend, label, input {
    font-family: 'Helvetica', sans-serif;
    color: white;
}

fieldset {
    background-color: rgb(66, 60, 90);
}

button {
    margin-top: 2px;
}

legend {
    font-weight: bold;
    background-color: rgb(30, 26, 44);
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 10px 4px 0px 4px;
}

label {
    font-weight: normal;
}

input {
    padding: 5px 5px;
    color: black;
    text-align: center;
    margin: 0 auto;
}

.App {
    text-align: center;
}

.App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    margin: 0 auto;
    max-width: 800px;
}

div.container div{
    display: inline-block;
}
div.container div div{ 
    display: block;
    text-align: right;
    margin: 0 auto;
}

div.container div div label{
    margin: 0 auto;
    text-align: left;
}

div.container div div input { 

}

div.container div button { 
    
    padding: 5px 10px;
}